<?xml version="1.0"?>

<ruleset name="NA Outaouais">

	<description>
		WordPress coding standards.
	</description>

	<rule ref="WordPress"/>

	<file>.</file>

	<exclude-pattern>
		/vendor/
	</exclude-pattern>

</ruleset>